:root {
    --background: #dee2e6;
    --calculator: #f8f9fa;
    --calculator-screen: #FFFFFF;
    --operator-button: #f6e8ff;
    --operator-button-shadow: #59189a3a;
    --operator-text: #5a189a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    font-family: 'Orbitron', sans-serif, Arial, Helvetica;
    font-weight: 600;
    font-size: 1.5em;
}

.calculator {
    height: 97vh;
    aspect-ratio: 9 / 18;
    display: flex;
    flex-direction: column;
    background-color: var(--calculator-screen);
    border-radius: 30px;
    box-shadow: -5px 5px 10px #AAAAAA;
    overflow: hidden;
}

.display {
    width: 100%;
    padding: 0 4%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--calculator-screen);
    overflow: hidden;
}

.display.result {
    height: 10%;
    border-radius: 30px 30px 0 0;
    font-size: 0.8em;
}

.display.expression {
    height: 20%;
    color: var(--operator-text);
}

.inputs {
    /* Fill in the rest of the height */
    flex: 1;
    width: 100%;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--calculator);
    border-radius: 15px 15px 30px 30px;
}

.input-container {
    /* 4 buttons per row */
    width: 25%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 0.8em;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input.operator {
    background-color: var(--operator-button);
    color: var(--operator-text);
    box-shadow: -5px 5px 5px var(--operator-button-shadow);
}